---
// Import necessary components
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";

const { blogsEntry } = Astro.props;

interface Props {
  blogsEntry: CollectionEntry<"blogs">;
}
---

<div class="flex-shrink-0">
  <Image
    class="size-10 rounded-full sm:h-14 sm:w-14"
    src={blogsEntry.data.authorImage}
    alt={blogsEntry.data.authorImageAlt}
    draggable={"false"}
    format={"avif"}
  />
</div>
